# Wayland
*/xdg-shell-client-protocol.h
*/xdg-shell-protocol.c
*/xdg-decoration-client-protocol.h
*/xdg-decoration-protocol.c

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CMake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeSettings.json
CMakePresets.json

# Visual Studio and VSCode
.vs/
.vscode/

build/
out/
doc/
.editorconfig

# Include everyting in bin folder
!bin/*
